<style>
 .search-btn {
    background-color: #fe424d;
    color:#fff;
    height: 2.25rem;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }
  
  
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style> 

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left side -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Right side -->
      <div class="navbar-nav ms-auto align-items-center">
        <!-- Search form -->
        <form class="d-flex me-3" role="search" action="/listings/search" method="GET">
          <input 
            class="form-control search-inp" 
            type="search" 
            name="q" 
            placeholder="Search destinations" 
          />
          <button class="btn search-btn d-flex align-items-center" type="submit">
            <i class="fa-solid fa-magnifying-glass me-1"></i>
            <span>Search</span>
          </button>
        </form>

        <!-- Right-side links -->
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Signup</b></a> 
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

